<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Ошибка 404</title>
</head>
<body>
    <h1>Ошибка 404.</h1>
    <h2>Данная страница не найдена.</h2>
    <h2>Перейдите на <a href="{{ path('orgs_homepage') }}">главную страницу</a>.</h2>
</body>
</html>
