<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>An Error Occurred: {{ status_text }}</title>
</head>
<body>
    <h1>Извините, призошла ошибка.</h1>
    <h2>Сервер вернул следующий код ошибки "{{status_code}} {{status_text}}".</h2>
</body>
</html>
