{# src/Organizations\OrgsBundle/Resources/views/Organization/organizations_success.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Результат операции{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block body %}
    <p class="title_operation">
        {% block message %}{% endblock %} организации - {{ organization.title }} - прошло успешно.
    </p>

    <p class="success_operation_link">
        <a href="{{ path('orgs_homepage') }}">Вернуться в список организаций</a>
    </p>

{% endblock %}
