{# src/Organizations\OrgsBundle/Resources/views/Organization/organization_info.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{% trans with {'%title%': organization.title } %}information.about.organization.name{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block body %}
    <p>
        {% for message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </p>

    <br /><br /><br />
    <div class="organizations">
        <table>
            <caption>{% trans with {'%title%': organization.title } %}information.about.organization.name{% endtrans %}</caption>
            <tr>
                <td><b>{% trans %}internal.id{% endtrans %}</b></td>
                <td>{{ organization.id }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}title.organization{% endtrans %}</b></td>
                <td>{{ organization.title }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}ogrn{% endtrans %}</b></td>
                <td>{{ organization.ogrn }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}oktmo{% endtrans %}</b></td>
                <td>{{ organization.oktmo }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}actions{% endtrans %}</b></td>
                <td>
                    <a href="{{ path('orgs_edit', {'id': organization.id}) }}">{% trans %}action.edit{% endtrans %}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path('orgs_remove', {'id': organization.id}) }}" onclick="javascript:return confirm('{% trans with {'%title%': organization.title } %}action.remove.organization.question{% endtrans %}')">{% trans %}action.remove{% endtrans %}</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{ path('worker_create', {'orgId': organization.id}) }}">{% trans %}action.add.worker{% endtrans %}</a>
                </td>
            </tr>
        </table>

    </div>

    <p>
        <a href="{{ path('orgs_homepage') }}">{% trans %}to.the.list.of.organizations{% endtrans %}</a>
    </p>

    {% include 'OrgsBundle:Worker:workers_list.html.twig' with {'organization': organization} %}

{% endblock %}
