{# src/Organizations\OrgsBundle/Resources/views/Organization/organization_new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block title %}{% trans with {'%title%': organization.title } %}edit.organization.name{% endtrans %}{% endblock %}

{% block body %}

    <p class="title_operation">{% trans with {'%title%': organization.title } %}edit.organization.name{% endtrans %}</p>
    <div class="form_view">
        <form action="{{path('orgs_edit', {'id': organization.id })}}" method="post" {{ form_enctype(form) }}>

            {% include 'OrgsBundle:Organization:organization_form_fields.html.twig' %}

        </form>

        <p>
            <a href="{{ path('orgs_info_organization', {'id': organization.id}) }}">{% trans %}to.the.info.about.organization{% endtrans %}</a>
        </p>

    </div>
{% endblock %}
