{# src/Organizations\OrgsBundle/Resources/views/Organization/organizations_success_edit.html.twig #}
{% extends 'OrgsBundle:Organization:organization_success.html.twig' %}

{% block message %}Редактирование{% endblock %}