{# src/Organizations\OrgsBundle/Resources/views/Organization/organizations_list.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{% trans %}import.organizations{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block body %}

    <p>
    {% for message in app.session.flashBag.get('notice') %}
        <div class="flash-notice">
            {{ message }}
        </div>
    {% endfor %}
    </p>

    <p class="title_operation">{% trans %}import.organizations{% endtrans %}</p>
    <div class="form_view">
        <form action="{{path('orgs_import')}}" method="post" {{ form_enctype(form) }}>

            <div class="table_error_form">
                {{ form_errors(form) }}
            </div>

            <table class="table_form">
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.file_import, "select.an.xml.file") }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{ form_errors(form.file_import) }}
                        </div>
                        {{ form_widget(form.file_import) }}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                    </td>
                    <td class="table_field_form">
                        {{ form_rest(form) }}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                    </td>
                    <td class="table_submit_form">
                        <div>
                            <input type="submit" />
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>

            </table>


        </form>

        <p>
            <a href="{{ path('orgs_homepage') }}">{% trans %}to.the.list.of.organizations{% endtrans %}</a>
        </p>
    </div>

    <p>
    {% for errors in arrayErrors %}
        <ul>
        {% for error in errors %}
            {% if error is iterable %}
                {% for err in error %}
                    <li>
                        <div class="error-massage">
                            {{ err.message }}
                        </div>
                    </li>
                {% endfor %}
            {% else %}
                <li>
                    <div class="error-massage">
                        {{ error }}
                    </div>
                </li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
    </p>

{% endblock %}
