{# src/Organizations\OrgsBundle/Resources/views/Organization/organizations_list.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}Список организаций{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block body %}
    <p>
        <a href="{{ path('orgs_create') }}">{% trans %}add.organization{% endtrans %}</a>
    </p>

    <p>
        <a href="{{ path('orgs_import') }}">{% trans %}import.organizations.from.xml{% endtrans %}</a>
    </p>

    <p>
        {% for message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </p>

    <br /><br /><br />
    <div class="organizations">
        <table>
            <caption>{% trans %}list.organizations.title{% endtrans %}</caption>
            <tr>
                <th>{% trans %}internal.id{% endtrans %}</th>
                <th>{% trans %}title.organization{% endtrans %}</th>
                <th>{% trans %}ogrn{% endtrans %}</th>
                <th>{% trans %}oktmo{% endtrans %}</th>
                <!--th>Действия</th-->
            </tr>
        {% for key, organization in organizations %}
            <tr class="{{cycle(['odd','even'], key)}}">
                <td>
                    {{ organization.id }}
                </td>
                <td>
                    <a href="{{ path('orgs_info_organization', {'id': organization.id}) }}">
                        {{ organization.title }}
                    </a>
                </td>
                <td>
                    {{ organization.ogrn }}
                </td>
                <td>
                    {{ organization.oktmo }}
                </td>
                <!--td>
                    <a href="{{ path('orgs_edit', {'id': organization.id}) }}">Редактировать</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path('orgs_remove', {'id': organization.id}) }}" onclick="javascript:return confirm('Вы уверены что хотите удалить компанию - {{ organization.title }}?')">Удалить</a>
                </td-->
            </tr>
        {% endfor %}
        </table>
    </div>

{% endblock %}
