{# src/Organizations\OrgsBundle/Resources/views/Organization/organization_form_fields.html.twig #}
            <div class="table_error_form">
                {{ form_errors(form) }}
            </div>

            <table class="table_form">
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.title, 'title.organization') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.title)}}
                        </div>
                        {{form_widget(form.title)}}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.ogrn, 'ogrn') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.ogrn)}}
                        </div>
                        {{form_widget(form.ogrn)}}
                    </td>
                </tr>
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.oktmo, 'oktmo') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.oktmo)}}
                        </div>
                        {{form_widget(form.oktmo)}}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                    </td>
                    <td class="table_field_form">
                        {{ form_rest(form) }}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                    </td>
                    <td class="table_submit_form">
                        <div>
                            <input type="submit"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>

            </table>
