{# src/Organizations\OrgsBundle/Resources/views/Organization/organizations_success_create.html.twig #}
{% extends 'OrgsBundle:Organization:organization_success.html.twig' %}

{% block message %}Добавление{% endblock %}