{# src/Organizations\OrgsBundle/Resources/views/Organization/organization_new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block title %}{% trans %}create.organization{% endtrans %}{% endblock %}

{% block body %}

    <p class="title_operation">{% trans %}create.organization{% endtrans %}</p>
    <div class="form_view">
        <form action="{{path('orgs_create')}}" method="post" {{ form_enctype(form) }}>

            {% include 'OrgsBundle:Organization:organization_form_fields.html.twig' %}

        </form>

        <p>
            <a href="{{ path('orgs_homepage') }}">{% trans %}to.the.list.of.organizations{% endtrans %}</a>
        </p>
</div>
{% endblock %}
