.organizations {
    width: 100%;
    float: inherit;
}

.organizations table {
    border: double;
    width: 80%;
}

.organizations th, .organizations tr, .organizations td {
    border: 1px solid black;
}

.organizations caption {
    font-size: 20pt;
    font-weight: bold;
}

.organizations .odd {
    background-color: #FFFFFF;
}

.organizations .even {
    background-color: #90EE90;
}

.title_operation {
    font-size: 20pt;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.success_operation_link {
    font-size: 15pt;
    width: 100%;
    text-align: center;
}

.form_view {
    width: 100%;
    text-align: center;
}

.table_form {
    width: 100%;
}

.table_label_form {
    font-size: 16pt;
    width: 50%;
    text-align: right;
    margin-top: 10px;
    vertical-align: bottom;
}

.table_label_form div {
    vertical-align: bottom;
    margin-right: 50px;
    height: 100%;
}

.table_field_form {
    width: 50%;
    text-align: left;
    margin-top: 10px;
}

.table_submit_form {
    width: 50%;
    text-align: left;
}

.table_submit_form div {
    margin-top: 30px;
}

.table_error_form {
    color: #ff0000;
}
