{# src/Organizations\OrgsBundle/Resources/views/Worker/workers_list.html.twig #}
<br /><br /><br />
<div class="organizations">
    <table>
        <caption>{% trans %}list.workers.title{% endtrans %}</caption>
        <tr>
            <th>{% trans %}worker.fullname{% endtrans %}</th>
            <th>{% trans %}worker.inn{% endtrans %}</th>
            <th>{% trans %}worker.snils{% endtrans %}</th>
        </tr>
        {% for key, worker in organization.workers %}
            <tr class="{{cycle(['odd','even'], key)}}">
                <td>
                    <a href="{{ path('worker_info', {'orgId': organization.id, 'id': worker.id}) }}">
                        {{ worker.fullName }}
                    </a>
                </td>
                <td>
                    {{ worker.inn }}
                </td>
                <td>
                    {{ worker.snils }}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>