{# src/Organizations\OrgsBundle/Resources/views/Worker/worker_new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block title %}{% trans with {'%fullname%': worker.fullName } %}editing.worker.fullname{% endtrans %}{% endblock %}

{% block body %}

    <p class="title_operation">{% trans with {'%fullname%': worker.fullName } %}editing.worker.fullname{% endtrans %}</p>
    <div class="form_view">
        <form action="{{path('worker_edit', {'orgId': orgId, 'id': worker.id })}}" method="post" {{ form_enctype(form) }}>

            {% include 'OrgsBundle:Worker:worker_form_fields.html.twig' %}

        </form>

        <p>
            <a href="{{ path('worker_info', {'orgId': orgId, 'id': worker.id }) }}">{% trans %}to.the.info.about.worker{% endtrans %}</a>
        </p>

    </div>
{% endblock %}
