{# src/Organizations\OrgsBundle/Resources/views/Worker/worker_form_fields.html.twig #}
            <div class="table_error_form">
                {{ form_errors(form) }}
            </div>

            <table class="table_form">
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.lastname, 'worker.secondname') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.lastname)}}
                        </div>
                        {{form_widget(form.lastname)}}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.firstname, 'worker.firstname') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.firstname)}}
                        </div>
                        {{form_widget(form.firstname)}}
                    </td>
                </tr>
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.middlename, 'worker.middlename') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.middlename)}}
                        </div>
                        {{form_widget(form.middlename)}}
                    </td>
                </tr>
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.birthday, 'worker.birthday') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.birthday)}}
                        </div>
                        {{form_widget(form.birthday)}}
                    </td>
                </tr>
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.inn, 'worker.inn') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.inn)}}
                        </div>
                        {{form_widget(form.inn)}}
                    </td>
                </tr>
                <tr>
                    <td class="table_label_form">
                        <div>
                            {{ form_label(form.snils, 'worker.snils') }}
                        </div>
                    </td>
                    <td class="table_field_form">
                        <div class="table_error_form">
                            {{form_errors(form.snils)}}
                        </div>
                        {{form_widget(form.snils)}}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                    </td>
                    <td class="table_field_form">
                        {{ form_rest(form) }}
                    </td>
                </tr>

                <tr>
                    <td class="table_label_form">
                    </td>
                    <td class="table_submit_form">
                        <div>
                            <input type="submit"/>
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </div>
                    </td>
                </tr>

            </table>
