{# src/Organizations\OrgsBundle/Resources/views/Worker/worker_info.html.twig #}
{% extends '::base.html.twig' %}

{% block title %}{% trans with {'%fullname%': worker.fullName } %}info.about.worker.fullname{% endtrans %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block body %}
    <p>
        {% for message in app.session.flashBag.get('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
    </p>

    <br /><br /><br />
    <div class="organizations">
        <table>
            <caption>{% trans with {'%fullname%': worker.fullName } %}info.about.worker.fullname{% endtrans %}</caption>
            <tr>
                <td><b>{% trans %}internal.id{% endtrans %}</b></td>
                <td>{{ worker.id }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}worker.secondname{% endtrans %}</b></td>
                <td>{{ worker.lastname }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}worker.firstname{% endtrans %}</b></td>
                <td>{{ worker.firstname }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}worker.middlename{% endtrans %}</b></td>
                <td>{{ worker.middlename }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}worker.birthday{% endtrans %}</b></td>
                <td>
                    {% if worker.birthday is not empty %}
                        {{ worker.birthday|date("d/m/Y") }}
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td><b>{% trans %}worker.inn{% endtrans %}</b></td>
                <td>{{ worker.inn }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}worker.snils{% endtrans %}</b></td>
                <td>{{ worker.snils }}</td>
            </tr>
            <tr>
                <td><b>{% trans %}actions{% endtrans %}</b></td>
                <td>
                    <a href="{{ path('worker_edit', {'orgId': orgId, 'id': worker.id}) }}">{% trans %}action.edit{% endtrans %}</a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="{{ path('worker_remove', {'orgId': orgId, 'id': worker.id}) }}" onclick="javascript:return confirm('{% trans with {'%fullname%': worker.fullname } %}action.remove.worker.question{% endtrans %}')">{% trans %}action.remove{% endtrans %}</a>
                </td>
            </tr>
        </table>

    </div>

    <p>
        <a href="{{ path('orgs_info_organization', {'id': orgId}) }}">{% trans %}to.the.info.about.organization{% endtrans %}</a>
    </p>
{% endblock %}
