{# src/Organizations\OrgsBundle/Resources/views/Worker/worker_new.html.twig #}
{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/orgs/css/orgs.css') }}"/>
{% endblock %}

{% block title %}{% trans %}adding.worker.title{% endtrans %}{% endblock %}

{% block body %}

    <p class="title_operation">{% trans %}adding.worker.title{% endtrans %}</p>
    <div class="form_view">
        <form action="{{path('worker_create', {'orgId': orgId})}}" method="post" {{ form_enctype(form) }}>

            {% include 'OrgsBundle:Worker:worker_form_fields.html.twig' %}

        </form>

        <p>
            <a href="{{ path('orgs_info_organization', {'id': orgId}) }}">{% trans %}to.the.info.about.organization{% endtrans %}</a>
        </p>
</div>
{% endblock %}
